<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .root{
      display:flex;
      background-color:#dfe6e9;
      justify-content:center;
      align items:center;
      padding:20px;
      }
    .myframe{
      width:600px;
      background-color:#fff;
      padding:20px;
      border-radius:25px;
      }
     .gap{
       margin-top: 10px;
       }
     .btnstyle{
       display:flex;
       justify-content:center;
       align-items:center;
       }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>List Employees</title>
    <link rel="stylesheet" href="/static/dashboard/css/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-shopify'></i>
      <span class="logo_name">Materials</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/admindashboard">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/EmployeeInterface">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">Register Employee</span>
          </a>
        </li>
        <li>
          <a href="/displayall">
            <i class='bx bx-user' ></i>
            <span class="links_name">List of Employees</span>
          </a>
        </li>
        <li>
          <a href="/categoryinterface">
            <i class='bx bx-category' ></i>
            <span class="links_name">Add Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallcategory" class="active">
            <i class='bx bx-category' ></i>
            <span class="links_name">List of Categories</span>
          </a>
        </li>
        <li>
          <a href="/subcategoryinterface">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">Add Sub Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallsubcategory">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">List of Sub Categories</span>
          </a>
        </li>
        <li>
          <a href="/productinterface">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">Add Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallproduct">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">List of Products</span>
          </a>
        </li>
        <li>
          <a href="/finalproductinterface">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">Add Final Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallfinalproduct">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">List of Final Products</span>
          </a>
        </li>
        <li>
          <a href="/supplierinterface">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">Add Supplier</span>
          </a>
        </li>
        <li>
          <a href="/displayallsupplier">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">List of Suppliers</span>
          </a>
        </li>
        <li>
          <a href="/viewattendance">
            <i class='bx bx-list-check' ></i>
            <span class="links_name">View Attendance</span>
          </a>
        </li>
        <li>
          <a href="/adminlogout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
      {% csrf_token %}
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">List of Employees</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search here...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">{{ result.adminname }}</span>
      </div>
    </nav>

          <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">List Employees</h4>
              <p class="card-category">Material Management</p>
            </div>
            <div class="card-body">
                <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Management [All Category]</title>
</head>

<body style="background-color: #dfe6e9;">
    <div class="root">
        <div class="myframe">
            <div class="row"
            style="display: flex; align-items:center; font-size:20px; letter-spacing:2px; font-weight:bold; justify-content: center;">
            <img src="/static/categoryicon.png" width="30" style="padding-right: 5px;">
            List of Category
        </div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Icon</th>
                    <th>Update</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{row.0}}</th>
                    <td>{{row.1}}</td>
                    <td><a href="/editcategorypicture?categoryid={{row.0}}&categoryname={{row.1}}&picture={{row.2}}"><img src="/static/{{row.2}}" width="50px"></a></td>
                    <!-- <td><a href="/displaycategorybyid?categoryid={{row.0}}"><img src="/static/edit.png" width="10%"></a></td> -->
                    <td><a class ="button is-primary modal-button" data="{{ row }}" data-target ="#modal">Edit/Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
<div id = "modal" class = "modal">
    <div class = "modal-background"></div>
    <div class = "modal-content" style="border-radius:10px;width:600px;background-color: #dfe6e9;">
<form action="/editdeletecategoryrecord">
    <input type="hidden" id="categoryid" name="categoryid"/>
    <div class="root">
        <div class="myframe">
            <div class="row"
                style="display: flex; align-items:center; font-size:14px; letter-spacing:2px; font-weight:bold; padding-left : 20px; margin-bottom: 10px;">
                <img src="/static/categoryicon.png" width="30" style="padding-right: 5px;">
                Update Product Category
            </div>

            <div class="row">
                <div class="col">
                    <input type="text" id="categoryname" name="categoryname" class="form-control" placeholder="Category Name">
                </div>

                <div class="col btnstyle" style="flex-direction: row;">
                    &nbsp; <img  id="icon" name="icon" width="50">
                </div>
            </div>

            <div class="row gap">
                <div class="col btnstyle" >
                    <button type="submit" name="btn" value="Edit" class="btn btn-primary" style="width: 100%;">Edit</button>
                </div>

                <div class="col btnstyle">
                    <button type="submit" name="btn" value="Delete" class="btn btn-primary w-100" >Delete</button>
                </div>
            </div>

            <div class="row gap">
                <div class="col btnstyle" style="font-size: 18px; font-weight:bold;" >
                    {{msg}}
                </div>
            </div>
        </div>
    </div>
</form>
    </div>
    <button class = "modal-close is-large" aria-label= "close"></button>
</div>

<script>


         $(".modal-button").click(function() {
            var target = $(this).data("target");
            var data = $(this).attr("data")
            data=data.replace("(","")
            data=data.replace(")","")
            data=data.replaceAll("'","")
            data=data.split(",")

            $('#categoryid').val(data[0].trim())
            $('#categoryname').val(data[1].trim())
            $('#icon').attr('src','/static/'+(data[2].trim()))

            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
         });

         $(".modal-close").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
         });
</script>


</html>

            </div>
          </div>
        </div>
      </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
