<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .root{
      display:flex;
      background-color:#dfe6e9;
      justify-content:center;
      align items:center;
      padding:20px;
      }
    .myframe{
      width:100%;
      background-color:#fff;
      padding:20px;
      border-radius:25px;
      }
     .gap{
       margin-top: 10px;
       }
     .btnstyle{
       display:flex;
       justify-content:center;
       align-items:center;
       }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>List Final Products</title>
    <link rel="stylesheet" href="/static/dashboard/css/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-shopify'></i>
      <span class="logo_name">Materials</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/admindashboard">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/EmployeeInterface">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">Register Employee</span>
          </a>
        </li>
        <li>
          <a href="/displayall">
            <i class='bx bx-user' ></i>
            <span class="links_name">List of Employees</span>
          </a>
        </li>
        <li>
          <a href="/categoryinterface">
            <i class='bx bx-category' ></i>
            <span class="links_name">Add Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallcategory">
            <i class='bx bx-category' ></i>
            <span class="links_name">List of Categories</span>
          </a>
        </li>
        <li>
          <a href="/subcategoryinterface">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">Add Sub Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallsubcategory">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">List of Sub Categories</span>
          </a>
        </li>
        <li>
          <a href="/productinterface">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">Add Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallproduct">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">List of Products</span>
          </a>
        </li>
        <li>
          <a href="/finalproductinterface">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">Add Final Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallfinalproduct" class="active">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">List of Final Products</span>
          </a>
        </li>
        <li>
          <a href="/supplierinterface">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">Add Supplier</span>
          </a>
        </li>
        <li>
          <a href="/displayallsupplier">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">List of Suppliers</span>
          </a>
        </li>
        <li>
          <a href="/viewattendance">
            <i class='bx bx-list-check' ></i>
            <span class="links_name">View Attendance</span>
          </a>
        </li>
        <li>
          <a href="/adminlogout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
      {% csrf_token %}
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">List of Final Products</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search here...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">{{ result.adminname }}</span>
      </div>
    </nav>

          <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">List of Final Products</h4>
              <p class="card-category">Material Management</p>
            </div>
            <div class="card-body">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
 <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
              <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="/static/javascript/product.js"></script>
    <title>Material Management [All Final Products]</title>
</head>

<body style="background-color: #dfe6e9;">
    <div id="report" class="root">
        <div class="myframe">
            <div class="row"
            style="display: flex; align-items:center; font-size:20px; letter-spacing:2px; font-weight:bold; justify-content: center;">
            <img src="/static/product.png" width="30" style="padding-right: 5px;">
            List of Final Products
        </div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Category <br>Name</th>
                    <th>SubCategory<br>Name</th>
                    <th>Product<br>Name</th>
                    <th>Product <br> Type</th>
                    <th>Size /<br> Weight</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Picture</th>
                    <th>Update</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{row.3}}</th>
                    <td>{{row.13}}</td>
                    <td>{{row.14}}</td>
                    <td>{{row.15}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.5}}{{row.6}} / <br>{{row.7}}{{row.8}} </td>
                    <td>{{row.9}}</td>
                    <td> &#8377; {{row.10}}</td>
                    <td>{{row.11}}</td>
                    <td><a href="/editfinalproductpicture?finalproductid={{row.3}}&finalproductname={{row.4}}&picture={{row.12}}"><img src="/static/{{row.12}}" width="50px"></a></td>
                    <!-- <td><a href="/displayproductbyid?productid={{row.2}}">Edit/Delete</a></td> -->
                    <td><a class ="button is-primary modal-button" data="{{ row }}" data-target ="#modal">Edit/Delete</a></td>
                    <td><Button class="button is-primary pay" amount="{{ row.10 }}">Pay</Button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
<div id = "modal" class = "modal">
    <div class = "modal-background"></div>
    <div class = "modal-content" style="border-radius:10px;width:600px;background-color: #dfe6e9;">
<form action="/editdeletefinalproductrecord">
    <input type="hidden" id="finalproductid" name="finalproductid"/>
  <div class="root">
            <div class="myframe">
                <div class="row" style="display: flex; align-items:center; font-size:14px; letter-spacing:2px; font-weight:bold; padding-left : 20px; margin-bottom: 10px;">
                    <img src="/static/product.png" width="30" style="padding-right: 5px;">
                    Update Products
                </div>

                <div class="row">
                    <div class="col">
                        <select id="categoryid" name="categoryid" class="form-control">
                            <option value="{{row.0}}">{{row.13}}</option>
                        </select>
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <select id="subcategoryid" name="subcategoryid" class="form-control">
                            <option value="{{row.1}}">{{row.14}}</option>
                        </select>
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <select id="productid" name="productid" class="form-control">
                            <option value="{{row.2}}">{{row.15}}</option>
                        </select>
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <input type="text" value="{{row.4}}" id="finalproductname" name="finalproductname" class="form-control" placeholder="Product Name">
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <input type="text" value="{{row.5}}" id="size" name="size" class="form-control" placeholder="Size">
                    </div>

                    <div class="col">
                        <input type="text" value="{{row.6}}" id="sizeunit" name="sizeunit" class="form-control" placeholder="Size Unit">
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <input type="text" value="{{row.7}}" id="weight" name="weight" class="form-control" placeholder="weight">
                    </div>

                    <div class="col">
                        <input type="text" value="{{row.8}}" id="weightunit" name="weightunit" class="form-control" placeholder="Weight Unit">
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <input type="text" value="{{row.9}}" id="color" name="color" class="form-control" placeholder="color">
                    </div>

                    <div class="col">
                        <input type="text" value="{{row.10}}" id="price" name="price" class="form-control" placeholder="Price">
                    </div>
                </div>

                <div class="row gap">
                    <div class="col">
                        <input type="text" id="stock" name="stock" value="0" class="form-control" placeholder="Stock">
                    </div>

                    <div class="col btnstyle" style="flex-direction: row;">&nbsp; <img src="/static/{{row.12}}" id="pic" name="pic" width="50">
                    </div>
                </div>

                <div class="row gap">
                    <div class="col btnstyle">
                        <button type="submit" name="btn" value="Edit" class="btn btn-primary" style="width: 100%;">Edit</button>
                    </div>

                    <div class="col btnstyle">
                        <button type="submit" name="btn" value="Delete" class="btn btn-primary w-100">Delete</button>
                    </div>
                </div>

                <div class="row gap">
                    <div class="col btnstyle" style="font-size: 18px; font-weight:bold;">
                        {{msg}}
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <button class="modal-close is-large" aria-label = "close"></button>
</div>
<script>
         $(".modal-button").click(function() {
            var target = $(this).data("target");
            var data = $(this).attr("data")
            data=data.replace("(","")
            data=data.replace(")","")
            data=data.replaceAll("'","")
            data=data.split(",")

            $('#finalproductid').val(data[3].trim())
            $('#categoryid').val(data[13].trim())
            $('#subcategoryid').val(data[14].trim())
            $('#productid').val(data[15].trim())
            $('#finalproductname').val(data[4].trim())
            $('#size').val(data[5].trim())
            $('#sizeunit').val(data[6].trim())
            $('#weight').val(data[7].trim())
            $('#weightunit').val(data[8].trim())
            $('#color').val(data[9].trim())
            $('#price').val(data[10].trim())
            $('#stock').val(data[11].trim())
            $('#pic').attr('src','/static/'+(data[12].trim()))

            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
         });

         $(".modal-close").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");

         });

           $(".pay").click(function() {
            var amt=$(this).attr('amount')
            alert(amt)
            payment(amt)
         })

function payment(amt){
    var options = {
  "key": "rzp_test_GQ6XaPC6gMPNwH",
  "amount": amt*100, // Example: 2000 paise = INR 20
  "name": "Material Management",
  "description": "Payment for Product",
  "image": "/static/MaterialManagement.jpg",// COMPANY LOGO
  "handler": function (response) {
    console.log(response);

    // AFTER TRANSACTION IS COMPLETE YOU WILL GET THE RESPONSE HERE.
  },
  "prefill": {
    "name":"Abc Industries", // pass customer name

    "contact":"8770837068" //customer phone no.
  },
  "notes": {
    "address": "Happy" //customer address
  },
  "theme": {
    "color": "#15b8f3" // screen color
  }
};
console.log(options);
var propay = new Razorpay(options);
propay.open();
}

function printDiv() {
            var divContents = document.getElementById("report").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write(divContents);

            a.document.close();
            a.print();
        }
</script>


            </div>
          </div>
        </div>
      </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
