<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .root{
      display:flex;
      background-color:#dfe6e9;
      justify-content:center;
      align items:center;
      padding:20px;
      }
    .myframe{
      width:100%;
      background-color:#fff;
      padding:20px;
      border-radius:25px;
      }
     .gap{
       margin-top: 10px;
       }
     .btnstyle{
       display:flex;
       justify-content:center;
       align-items:center;
       }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>List Employees</title>
    <link rel="stylesheet" href="/static/dashboard/css/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-shopify'></i>
      <span class="logo_name">Materials</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/admindashboard">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/EmployeeInterface">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">Register Employee</span>
          </a>
        </li>
        <li>
          <a href="/displayall" class="active">
            <i class='bx bx-user' ></i>
            <span class="links_name">List of Employees</span>
          </a>
        </li>
        <li>
          <a href="/categoryinterface">
            <i class='bx bx-category' ></i>
            <span class="links_name">Add Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallcategory">
            <i class='bx bx-category' ></i>
            <span class="links_name">List of Categories</span>
          </a>
        </li>
        <li>
          <a href="/subcategoryinterface">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">Add Sub Category</span>
          </a>
        </li>
        <li>
          <a href="/displayallsubcategory">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">List of Sub Categories</span>
          </a>
        </li>
        <li>
          <a href="/productinterface">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">Add Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallproduct">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">List of Products</span>
          </a>
        </li>
        <li>
          <a href="/finalproductinterface">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">Add Final Product</span>
          </a>
        </li>
        <li>
          <a href="/displayallfinalproduct">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">List of Final Products</span>
          </a>
        </li>
        <li>
          <a href="/supplierinterface">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">Add Supplier</span>
          </a>
        </li>
        <li>
          <a href="/displayallsupplier">
            <i class='bx bx-user-check' ></i>
            <span class="links_name">List of Suppliers</span>
          </a>
        </li>
        <li>
          <a href="/viewattendance">
            <i class='bx bx-list-check' ></i>
            <span class="links_name">View Attendance</span>
          </a>
        </li>
        <li>
          <a href="/adminlogout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
      {% csrf_token %}
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">List of Employees</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search here...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">{{ result.adminname }}</span>
      </div>
    </nav>

          <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">List Employees</h4>
              <p class="card-category">Material Management</p>
            </div>
            <div class="card-body">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/Javascript/project.js"></script>
                <head>
    <meta charset="UTF-8">
    <title>Material Management</title>
</head>
<body>

<div class="root">
    <div class="myframe">
     <div class="row" style="display:flex;align-items:center;font-size:14px;letter-spacing:1px;font-weight:bold;padding-left:20px;margin-bottom:10px;">
         <img src="/static/customer.png" width="30">
         List of Employees
     </div>
   <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>D.O.B.</th>
      <th>Permanent</br>Address</th>
      <th>Current</br>Address</th>
      <th>Contact<br>Details</th>
      <th>Picture</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
 {% for row in rows %}
    <tr>
      <th scope="row">{{ row.0 }}</th>
      <td>{{ row.1 }} {{ row.2 }}<br>{{ row.3 }}</td>
      <td>{{ row.4 }}</td>
      <td>{{ row.5 }}<br>
          {{ row.14 }},{{ row.15 }}
      </td>
      <td>{{ row.8 }}</td>
      <td>{{ row.9 }}<br>{{ row.10 }}</td>
        <td><a href="/editemployeepicture?empid={{row.0}}&firstname={{row.1}}&lastname={{row.2}}&picture={{row.12}}"><img src="/static/{{ row.12 }}" width="50"/></a><br>{{ row.11 }}</td>
      <td><a class ="button is-primary modal-button" data="{{ row }}" data-target ="#modal">Edit/Delete</a></td>
    </tr>
 {% endfor %}
  </tbody>
  </div>
</div>
</body>
                </div>
          </div>
        </div>
      </div>
  </section>
<div id = "modal" class = "modal">
    <div class = "modal-background"></div>
    <div class = "modal-content" style="border-radius:10px;width:600px;background-color:#dfe6e9;">
      <form action="/editdeleterecord">
    <input type="hidden" value="{{ row.0 }}" id="empid" name="empid">
<div class="root">
 <div class="myframe">
     <div class="row" style="display:flex;align-items:center;font-size:14px;letter-spacing:1px;font-weight:bold;padding-left:20px;margin-bottom:10px;">
         <img src="/static/customer.png" width="30">
         Employee Information
     </div>
    <div class="row">
        <div class="col">
            <input type="text" value="{{ row.1 }}" id="firstname" name="firstname" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" value="{{ row.2 }}" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
        </div>
    </div>

     <div class="row gap">
        <div class="col" style="display:flex; justify-content:center; align-items:center;">
            {% ifequal row.3 "Male" %}
            <input type="radio" checked value="Male" name="gender">
            <i class="fas fa-male" style="color:darkviolet; margin-left:10px; margin-right:30px; font-size:25px;"></i>
            <input type="radio" value="Female"  name="gender">
            <i class="fas fa-female" style="color:deeppink; margin-left:10px; margin-right:30px; font-size:25px;"></i>
            {% endifequal %}

            {% ifequal row.3 "Female" %}
            <input type="radio" value="Male"  name="gender">
            <i class="fas fa-male" style="color:darkviolet; margin-left:10px; margin-right:30px; font-size:25px;"></i>
            <input type="radio" checked value="Female" name="gender">
            <i class="fas fa-female" style="color:deeppink; margin-left:10px; margin-right:30px; font-size:25px;"></i>
            {% endifequal %}
        </div>
        <div class="col">
            <input type="date" value="{{ row.4 }}" id="birthdate" name="birthdate" class="form-control" placeholder="D.O.B.">
        </div>
     </div>

     <div class="row gap">
         <div class="col">
             <input type="text" value="{{ row.5 }}" id="paddress" name="paddress" class="form-control" placeholder="Permanent Address">
         </div>
     </div>

     <div class="row gap">
         <div class="col">
             <select class="form-control" id="states" name="states">
                 <option value="{{ row.6 }}">{{ row.6 }}</option>
             </select>
         </div>

         <div class="col">
             <select class="form-control" id="city" name="city">
                 <option value="{{ row.14 }}">{{ row.14 }}</option>
             </select>
         </div>
     </div>

     <div class="row gap">
         <div class="col">
             <input type="text" value="{{ row.8 }}" id="caddress" name="caddress" class="form-control" placeholder="Current Address">
         </div>
     </div>

     <div class="row gap">
        <div class="col">
            <input type="email" value="{{ row.9 }}" id="emailaddress" name="emailaddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="col">
            <input type="text" value="{{ row.10 }}" id="mobilenumber" name="mobilenumber" class="form-control" placeholder="Mobile Number">
        </div>
    </div>

     <div class="row gap">
        <div class="col">
            <input type="text" value="{{ row.11 }}" id="designation" name="designation" class="form-control" placeholder="Designation">
        </div>
        <div class="col btnstyle" style="flex-direction:row;">
            &nbsp;<img src="/static/{{ row.12 }}" id="pic" width="40" />
        </div>
     </div>

     <div class="row gap">
         <div class="col btnstyle">
             <button type="submit" name="btn" value="Edit" class="btn btn-primary w-100">Edit</button>
         </div>

         <div class="col btnstyle">
             <button type="submit" name="btn" value="Delete" class="btn btn-primary w-100">Delete</button>
         </div>
     </div>

     <div class="row gap">
         <div class="col btnstyle" style="font-size:18px;font-weight:bold;">
             {{ msg }}
         </div>
     </div>
</div>
</div>
</form>
    </div>
    <button class = "modal-close is-large" aria-label="close"></button>
</div>



  <script>
  $(".modal-button").click(function() {
            var target = $(this).data("target");
            var data = $(this).attr("data")
            data=data.replace("(","")
            data=data.replace(")","")
            data=data.replaceAll("'","")
            data=data.split(",")

            $('#empid').val(data[0].trim())
            $('#firstname').val(data[1].trim())
            $('#lastname').val(data[2].trim())
            $('#gender').val(data[3].trim())
            $('#birthdate').val(data[4].trim())
            $('#paddress').val(data[5].trim())
            $('#states').val(data[6].trim())
            $('#city').val(data[14].trim())
            $('#caddress').val(data[8].trim())
            $('#emailaddress').val(data[9].trim())
            $('#mobilenumber').val(data[10].trim())
            $('#designation').val(data[11].trim())
            $('#pic').attr('src','/static/'+(data[12].trim()))

            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
         });

         $(".modal-close").click(function() {
            $("html").removeClass('is-clipped');
            $(this).parent().removeClass("is-active");
         });


   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
