<style type="text/css" xmlns="http://www.w3.org/1999/html">
    .root{
      display:flex;
      background-color:#dfe6e9;
      justify-content:center;
      align items:center;
      padding:20px;
      }
    .myframe{
      width:1000px;
      background-color:#fff;
      padding:20px;
      border-radius:25px;
      }
     .gap{
       margin-top: 10px;
       }
     .btnstyle{
       display:flex;
       justify-content:center;
       align-items:center;
       }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>List of Final Products</title>
    <link rel="stylesheet" href="/static/dashboard/css/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-shopify'></i>
      <span class="logo_name">Materials</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/employeedashboard">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/displayproductemployee">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">List Product</span>
          </a>
        </li>
        <li>
          <a href="/displayfinalproductemployee" class="active">
            <i class='bx bx-user' ></i>
            <span class="links_name">List of Final Products</span>
          </a>
        </li>
        <li>
          <a href="/purchaseinterface">
            <i class='bx bx-category' ></i>
            <span class="links_name">Purchase</span>
          </a>
        </li>
        <li>
          <a href="/displayallpurchaseproduct">
            <i class='bx bx-category' ></i>
            <span class="links_name">List of Purchase</span>
          </a>
        </li>
        <li>
          <a href="/issueinterface">
            <i class='bx bx-category-alt' ></i>
            <span class="links_name">Issue</span>
          </a>
        </li>
        <li>
          <a href="/displayallissueproduct">
            <i class='bx bx-shopping-bag' ></i>
            <span class="links_name">List of Issue</span>
          </a>
        </li>
        <li>
          <a href="/attendance">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">Mark Attendance</span>
          </a>
        </li>
        <li>
          <a href="/leave">
            <i class='bx bx-layer-plus' ></i>
            <span class="links_name">Mark Leave</span>
          </a>
        </li>
        <li>
          <a href="/employeelogout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
      {% csrf_token %}
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">List of Final Products</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search here...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">{{ result.firstname}} {{ result.lastname }}</span>
      </div>
    </nav>

          <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">List of Final Products</h4>
              <p class="card-category">Material Management</p>
            </div>
            <div class="card-body">
                <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
                            <link rel="stylesheet"
                                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                                crossorigin="anonymous">
                            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
                                integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
                                crossorigin="anonymous" />
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <script src="/static/javascript/product.js"></script>

                            <head>
                                <meta charset="UTF-8">
                                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                <title>Material Management [All Final Products]</title>
                            </head>

                            <body style="background-color: #dfe6e9;">
                                <div class="root">
                                    <div class="myframe">
                                        <div class="row"
                                            style="display: flex; align-items:center; font-size:20px; letter-spacing:2px; font-weight:bold; justify-content: center;">
                                            <img src="/static/product.png" width="30" style="padding-right: 5px;">
                                            List of Products
                                        </div>
                                        <table class="table">
                                            <tr>
                                                <th>#</th>
                                                <th>Category <br>Name</th>
                                                <th>SubCategory<br>Name</th>
                                                <th>Product<br>Name</th>
                                                <th>Product <br> Type</th>
                                                <th>Size /<br> Weight</th>
                                                <th>Color</th>
                                                <th>Price</th>
                                                <th>Stock</th>
                                                <th>Picture</th>
                                            </tr>
                                            {% for row in rows %}
                                            <tr>
                                                <th scope="row">{{row.3}}</th>
                                                <td>{{row.13}}</td>
                                                <td>{{row.14}}</td>
                                                <td>{{row.15}}</td>
                                                <td>{{row.4}}</td>
                                                <td>{{row.5}}{{row.6}} / <br>{{row.7}}{{row.8}} </td>
                                                <td>{{row.9}}</td>
                                                <td> &#8377; {{row.10}}</td>
                                                <td>{{row.11}}</td>
                                                <td><img src="/static/{{row.12}}" width="50px"></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>

                            </body>


            </div>
          </div>
        </div>
      </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
